ANTHROPIC_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
KRAHNBORN_API_TOKEN=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_USER_EMAIL=thomas@krahnborn.com
SLACK_USER_NAME_FALLBACK=Thomas Jones
PORT=3000
KRAHNBORN_VAULT_PATH=/home/xenocide/vault
